@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

:root [data-theme='modern'] {
	--theme-font-family-base: 'Quicksand', sans-serif;
	--theme-font-family-heading: 'Quicksand', sans-serif;
}
